//------------------Colors
$white: #ffffff;
$black: #544D4E;
$primary: #B58E72;
$secondary:#E0BAA5;
$tertiary: #EFDBC6;
$accent: #F2E2DB;
//------------------Fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Playfair+Display&display=swap');
$headline: 'Playfair Display',
serif;
$mainText: 'Barlow',
sans-serif;
* {
    margin: 0;
}

body {
    max-width: 100vw;
}

.link {
    text-decoration: none;
    color: $black;
    font-family: $headline;
    font-size: 1.5vw;
}

p {
    font-family: $mainText;
    font-size: 1vw;
    color: $black;
}

h1 {
    font-weight: unset;
    color: $black;
    font-family: $headline;
    font-size: 4vw;
    margin-bottom: 0.5vw;
}

h2 {
    font-weight: unset;
    color: $black;
    font-family: $headline;
    font-size: 3vw;
    margin-bottom: 0.5vw;
}

h3 {
    font-weight: unset;
    color: $black;
    font-family: $headline;
    font-size: 1.5vw;
}

img {
    object-fit: cover;
}

//-----------------Header
.menuBtn {
    display: none;
}

header {
    background-color: $secondary;
    width: 100%;
    height: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
    padding: 0 4vw;
    box-sizing: border-box;
}

.logoSvg {
    width: 5vw;
}

.nav {
    width: 40vw;
    display: flex;
    justify-content: space-between;
}

.social {
    width: 12vw;
    display: flex;
    justify-content: space-between;
}

.socialIcon {
    width: 3.5vw;
}

//------------------Header End
//------------------FrontPage
.flowers {
    position: absolute;
    width: 100%;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    margin-top: -10vw;
    justify-content: space-between;
}

.flower {
    width: 20vw;
    transform: rotate(45deg);
    align-self: flex-start;
    margin-bottom: 20vw;
    z-index: 3;
}

.flower:nth-child(even) {
    width: 40vw;
    transform: rotate(0);
    align-self: flex-end;
}

.main {
    padding-top: 8vw;
}

video {
    width: 100%;
}

.serviceFrontPage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10vw 0;
}

.serviceImage {
    width: 40vw;
    height: 40vw;
}

.serviceFrontPageTextfield {
    width: 40vw;
    height: 12vw;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 5vw;
    background-color: $tertiary;
    margin-left: -10vw;
}

.button {
    background-color: $secondary;
    width: 9vw;
    text-align: center;
    border-radius: 1.2vw;
    padding: 0.2vw;
    position: relative;
    z-index: 4;
}

.serviceFrontPage:nth-child(odd) {
    flex-flow: row-reverse;
    .serviceFrontPageTextfield {
        margin-left: 0;
        margin-right: -10vw;
    }
}

.contactFrontPage {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 4vw 0;
}

.phone {
    font-size: 1.5vw;
}

.galleri {
    width: 100%;
    background-color: $tertiary;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 3vw;
    padding-bottom: 15vw;
    box-sizing: border-box;
}

.instagramGalleri {
    width: 19*5vw;
    height: 18*2+1.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 3vw 0;
}

.feed {
    width: 18vw;
    height: 18vw;
    background-color: $primary;
}

.feed:nth-child(odd) {
    background-color: $secondary;
}

.buttonInstagram {
    background-color: $secondary;
    text-align: center;
    border-radius: 1.5vw;
    padding: 0.5vw 1vw;
}

//------------------FrontPage End
//------------------Services
.flowersServices {
    min-height: 300vw;
}

.topServices {
    width: 100%;
    display: flex;
    justify-content: space-between;
    img {
        width: 40vw;
        height: 40vw;
    }
    .title {
        background-color: $tertiary;
        height: 10vw;
        width: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-left: 35vw;
        align-self: center;
    }
}

.services {
    width: 100%;
    margin: 10vw 0 15vw 0;
    .service {
        width: 100%;
        margin: 10vw 0;
        display: flex;
        flex-flow: column;
        align-items: center;
        .serviceImages {
            width: 80%;
            height: 28vw;
            display: flex;
            justify-content: space-evenly;
            margin-left: 20%;
            margin-top: 3vw;
            .colorbox {
                width: 80%;
                height: 12vw;
                background-color: $primary;
                position: absolute;
                z-index: 0;
            }
            img {
                height: 22vw;
                width: 18vw;
                position: relative;
                z-index: 1;
                margin-top: 6vw;
            }
        }
        .serviceDescription {
            margin-top: 10vw;
            width: 100%;
            display: flex;
            justify-content: space-between;
            .serviceDescriptionImage {
                width: 45%;
                height: 45vw;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                align-content: space-between;
                .colorbox {
                    width: 30vw;
                    height: 15vw;
                    background-color: $primary;
                    position: absolute;
                }
                img {
                    width: 35vw;
                    height: 40vw;
                    position: absolute;
                    align-self: flex-end;
                    margin-top: 6vw;
                }
            }
            .description {
                width: 50%;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                p {
                    width: 30vw;
                    font-size: 1.3vw;
                }
                h3 {
                    margin-top: 2vw;
                    width: 30vw;
                    text-align: center;
                }
            }
        }
    }
}

.service:nth-child(even) {
    .serviceDescription .serviceDescriptionImage .colorbox {
        background-color: $secondary;
    }
    .serviceImages .colorbox {
        background-color: $secondary;
    }
}

//------------------Services End
//------------------Contact
.contactPage {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.contactImage {
    width: 60vw;
    height: 60vw;
    display: flex;
    flex-flow: column;
    margin: 2vw 0;
    .circleTwigs {
        width: 30vw;
        position: absolute;
        z-index: 1;
    }
    .profile {
        width: 40vw;
        height: 40vw;
        position: absolute;
        z-index: 0;
        align-self: flex-end;
        margin-top: 10vw;
    }
}

.contactDescription {
    width: 60vw;
}

.contactInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10vw 0;
    img {
        width: 40vw;
        height: 40vw;
    }
    .contactInfoBox {
        width: 40vw;
        height: 12vw;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 5vw;
        background-color: $tertiary;
        margin-left: -10vw;
    }
}

//------------------Contact End
//------------------Footer
footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 9vw;
    margin-top: -9vw;
}

.swirl {
    width: 15vw;
}

.infoFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1vw 2vw;
    box-sizing: border-box;
}

//------------------Footer End
@media only screen and (max-width: 600px) {
    .menuBtn {
        position: fixed;
        display: block;
        z-index: 6;
        right: 10vw;
        top: 5vw;
    }
    .main {
        padding: 0;
    }
    .link {
        font-size: 6vw;
    }
    p {
        font-size: 4vw;
    }
    h1 {
        font-size: 9vw;
    }
    h2 {
        font-size: 7vw;
    }
    h3 {
        font-size: 6vw;
    }
    .social {
        width: 50vw;
    }
    .socialIcon {
        width: 15vw;
    }
    header {
        display: none;
        width: 100vw;
        height: 100vh;
        flex-flow: column;
        transition-duration: 500;
    }
    .logoSvg {
        width: 20vw;
        margin-top: 5vw;
    }
    .nav {
        flex-flow: column;
        height: 40vw;
    }
    .social {
        margin-bottom: 5vw;
    }
    footer {
        height: 40vw;
        margin-top: -45vw;
    }
    .swirl {
        width: 30vw;
    }
    .infoFooter {
        flex-flow: column;
        height: 110vw;
    }
    .flowers {
        margin-top: -20vw;
    }
    .flower {
        margin-bottom: 90vw;
        width: 30vw;
    }
    .flower:nth-child(even) {
        width: 50vw;
    }
    .serviceFrontPage {
        flex-flow: column;
        margin: 20vw 0;
        .serviceImage {
            width: 80vw;
            height: 80vw;
        }
        .serviceFrontPageTextfield {
            height: 70vw;
            width: 60vw;
            margin: -20vw 0 0 0;
        }
    }
    .button {
        width: 35vw;
        padding: 1.5vw;
        border-radius: 5vw;
        align-self: center;
    }
    .serviceFrontPage:nth-child(odd) {
        flex-flow: column;
        .serviceFrontPageTextfield {
            margin: -20vw 0 0 0;
        }
    }
    .phone {
        font-size: 5vw;
        margin-bottom: 2vw;
    }
    .galleri {
        height: 170vw;
    }
    .instagramGalleri {
        width: 42*2vw;
        height: 40*2+4vw;
    }
    .feed {
        width: 40vw;
        height: 40vw;
    }
    .feed:nth-child(n+5) {
        display: none;
    }
    .buttonInstagram {
        margin-top: 4vw;
        border-radius: 5vw;
        padding: 1vw 4vw;
    }
    .topServices {
        .title {
            width: 44vw;
            margin-left: 28vw;
        }
        img {
            width: 100vw;
            height: 100vw;
        }
        img:last-child {
            display: none;
        }
    }
    .services {
        .service {
            margin: 30vw 0 70vw 0;
            .serviceImages {
                margin-left: 0;
                img {
                    width: 30vw;
                    height: 35vw;
                }
                img:last-child {
                    display: none;
                }
            }
        }
        .serviceDescription {
            flex-flow: column-reverse;
            align-items: center;
            height: 90vw;
            margin-top: 30vw !important;
            .serviceDescriptionImage {
                align-items: center !important;
                justify-content: center;
                .colorbox {
                    width: 80vw !important;
                    height: 30vw !important;
                }
                img {
                    align-self: unset !important;
                    height: 75vw !important;
                    width: 60vw !important;
                    margin-top: 10vw !important;
                }
            }
            .description {
                width: 70vw !important;
                p {
                    width: 70vw !important;
                    font-size: 3vw !important;
                }
                h3 {
                    width: 70vw !important;
                }
            }
        }
        .service:last-child {
            margin-bottom: 100vw;
        }
        .flowersServices {
            min-height: 610vw !important;
        }
    }
    .contactImage {
        width: 80vw;
        height: 80vw;
        margin: 5vw 0;
        .profile {
            height: 60vw;
            width: 60vw;
        }
    }
    .contactInfo {
        flex-flow: column-reverse;
        img {
            width: 80vw !important;
            height: 80vw !important;
        }
        .contactInfoBox {
            width: 50vw;
            height: 60vw;
            margin: 0 0 -20vw 0;
        }
    }
}